body {
  text-align: center;
  background: rgb(26, 188, 156);
  background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  color: #FFFBFF;
  font-family: "Helvetica",Arial , sans serif ;
  margin: 10% 20%;
}
.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #FFFBFF;
  border-bottom: 1px solid #FFFBFF;
  background-color: rgba (0,0,0, 0.1)
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1103.png), auto !important;} /* End https://www.cursors-4u.com */
